<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
 -->
<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Flapper News</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body>
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl as nc">
      <ul class="nav navbar-nav">
        <li ng-show="nc.isLoggedIn()"><a>{{ nc.currentUser() }}</a></li>
        <li ng-show="nc.isLoggedIn()"><a href="" ng-click="nc.logOut()">Log Out</a></li>
        <li ng-hide="nc.isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="nc.isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <form ng-show="mc.isLoggedIn()" ng-submit="mc.addPost()" style="margin-top: 30px;">
        <h3>Add a new post</h3>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="mc.title">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Link" ng-model="mc.link">
        </div>

        <button type="submit" class="btn btn-primary">Post</button>
      </form>

      <div ng-hide="mc.isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
      </div>

      <div ng-repeat="post in mc.posts | orderBy: '-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="mc.incrementUpvotes(post)"></span>
        {{post.upvotes}}
        <span style="font-size:20px; margin-left:10px;">
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
          <span ng-show="post.author">
            posted by <a>{{post.author}}</a> |
          </span>
        </span>
        <span>
          <a href="#/posts/{{post._id}}">Comments</a>
        </span>
      </div>
    </script>
    <script type="text/ng-template" id="/posts.html">
      <div class="page-header">
        <h3>
          <a ng-show="pc.post.link" href="{{pc.post.link}}">
            {{pc.post.title}}
          </a>
          <span ng-hide="pc.post.link">
            {{pc.post.title}}
          </span>
        </h3>
      </div>

      <div ng-repeat="comment in pc.post.comments | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="pc.incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size:20px; margin-left:10px;">
          {{comment.body}}
        </span>
      </div>

      <form ng-submit="pc.addComment()" ng-show="pc.isLoggedIn()" style="margin-top:30px;">
        <h3>Add a new comment</h3>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Comment" ng-model="pc.body"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
        <a href="#/home" class="pull-right">Home</a>
      </form>

      <div ng-hide="pc.isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
      </div>

    </script>
    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <div ng-show="AC.error" class="alert alert-danger row">
        <span>{{ AC.error.message }}</span>
      </div>

      <form ng-submit="AC.register()" style="margin-top:30px;">
        <h3>Register</h3>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="AC.user.username"></input>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="AC.user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </script>
    <script type="text/ng-template" id="/login.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>
      <div ng-show="LC.error" class="alert alert-danger row">
        <span>{{ LC.error.message }}</span>
      </div>

      <form ng-submit="LC.logIn()" style="margin-top:30px;">
        <h3>Log In</h3>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="LC.user.username"></input>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="LC.user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </script>
  </body>
  <script type="text/javascript" src="/javascripts/angular.min.js"></script>
  <script type="text/javascript" src="/javascripts/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="/javascripts/angularApp.js"></script>
</html>

